.page-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}
.page-mid p {
  margin-bottom: 1em;
}
#header {
  flex: 1 1 100%;
  font-size: 24px;
  vertical-align: middle;
  padding-bottom: 2px;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#revision-status-text {
  text-align: right;
  font-size: 12px;
  max-width: 82em;
  width: 80%;
  margin: auto;
}
#revision-error-text {
  color: red;
  font-weight: bold;
}
