<div *ngIf="this.errorRaised" class="page-mid">
  <p>{{this.getLoadingText()}}</p>
  <button mat-raised-button color="primary" (click)="this.exit()">Back</button>
</div>

<div *ngIf="!this.errorRaised">
  <div class="page-mid" *ngIf="!this.isReady()">
    <loading-spinner>
      <p>{{this.getLoadingText()}}</p>
      <button mat-raised-button color="primary" (click)="this.exit()">Back</button>
    </loading-spinner>
  </div>

  <div *ngIf="this.isReady()">
    <div id="revision-status-text">
      Current revision: latest (<a href="javascript:void(0)" (click)="this.promptRevisionChange()">Change</a>)
    </div>
    <p id="header"><span [hidden]="!this.checkChangesPending()">*</span>Transcribing: {{ this.getIdentifier() }}</p>
    <h5 class="center">Channel: {{ this.doc_id }}</h5>
    <avl-ngt-transcriber
      [audioFile]="this.getAudioFile()"
      [audioFileName]="this.getIdentifier()"
      [annotations]="this.getAnnotations()"
      [selectedAnnotation]="this.getSelectedAnnotation()"
      [viewMode]="this.getViewMode()"

      [showSegmentorServiceButton]="true"
      [showCSVExportButton]="true"
      [showJSONExportButton]="true"
      [autoPlay]="true"
      [isReadOnly]="this.isReadOnly"

      [segmentorWorking]="this.isSegmenting" 

      (exit)="this.exit()"
      (autosegment)="this.autoSegment($event)"
      (save)="this.saveAnnotations($event)">
    </avl-ngt-transcriber>
  </div>
</div>
