<!DOCTYPE html >
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content="alveo, transcription">
    <meta name="description" content="Alveo Transcription Tool is an easy to use web tool to provide annotations for audio.">
    <meta name="author" content="David Irving">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32.png') }}">
</head>

<body>
<!-- This site requires JavaScript to be enabled. Please whitelist this website if you wish to use it. -->
<nav>
    <a href="#alveo-main">Alveo</a>
    <a href="#about">About</a>
    <a href="#logout">Logout</a>
</nav>

<header><p>Alveo Transcription Tool</p></header>

<main>
{% block content %}{% endblock %}
</main>

<footer><p>Site &copy; YEAR COMPANY all rights reserved</p></footer>
</body>
</html>
