<div *ngIf="this.isLoading
  then listindexLoading
  else listindexMain">
</div>

<ng-template #listindexLoading>
  <loading-spinner>
    <p>Loading lists ...</p>
  </loading-spinner>
</ng-template>

<ng-template #listindexMain class="center">
  <div class="center">
    <h1 class="mat-h1">Item lists [Server: {{ this.sourceUrl }}]</h1>
    <app-dev-console></app-dev-console>
  </div>
  <app-listindex-listtable [tableData]="this.lists" (itemListSelect)="onItemListSelect($event)"></app-listindex-listtable>
</ng-template>
