<div *ngIf="this.isWorking
  then datasourceWorking
  else datasourceRequestDownload">
</div>

<ng-template #datasourceWorking>
  <loading-spinner *ngIf="this.isWorking">
    <p>Getting data ...</p>
  </loading-spinner>
</ng-template>

<ng-template #datasourceRequestDownload>
  <div id="data-container">
    <p>
      Great! You're now logged in.
      Next you'll need to choose a source of data to load.
      For now there is only the Alveo provider.
      Click the button below to start the download.
    </p>

    <button mat-raised-button
      color="primary"
      (click)="this.loadData()">
      Download Alveo Data
    </button>
  </div>
</ng-template>
