#data-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  padding: 14px; /* Helps for small displays */
}

#data-container p {
  font-size: 20px;
  padding-bottom: 24px;
  max-width: 700px;
  text-align: justify;
}

button {
  font-size: 24px;
  padding: 8px 16px;
}
