<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container mdColumnDef="listName">
      <md-header-cell *mdHeaderCellDef> Item List Name </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container mdColumnDef="items">
      <md-header-cell *mdHeaderCellDef> Items </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.num_items}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="shared">
      <md-header-cell *mdHeaderCellDef> Shared </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.shared}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row (click)="this.onSelect(row)" *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="this.tableData.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
