<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{this.getItemIdentifier()}}
    </mat-panel-title>
    <mat-panel-description>
      Ready
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="this.audioSources.length === 0">
    <p>There are no audio documents on this item to work with.</p>
  </div>

  <div *ngIf="this.audioSources.length > 0">
    <p>Annotations: {{ this.getAnnotationCount() }}</p>
    <p *ngIf="this.authService.isLoggedIn()">Remotely stored: {{ this.remotelyStored }}</p>
    <p *ngIf="!this.authService.isLoggedIn()">Remotely stored: Not authenticated</p>

    <div class="audio-channel">
      <p>Use audio channel: </p>
      <source-select
        [sources]="this.getAudioSources()"
        (sourceChange)="selectedSource=$event">
      </source-select>
    </div>

    <div class="button-aligner">
      <button mat-raised-button
        (click)="this.upload()"
        [disabled]="!this.authService.isLoggedIn()"
        color="primary">
        Revisions
      </button>
      <button mat-raised-button
        (click)="this.onTranscribe()"
        color="primary">
        Transcribe
      </button>
    </div>
  </div>
</mat-expansion-panel>
