.divider {
  display: flex;
  justify-content: center;
}

#header, #message, #close {
  padding: 2px 8px 2px 8px;
}

#header {
  padding-left: 2px;;
  color: red;
}

#message {
}
#close {
}
#close:hover {
  cursor: pointer;
}
