<div id="icons">
  <mat-icon class="clickable" (click)="this.requestSingleView()">tab</mat-icon>
</div>

<div class="annotation-container">
  <div class="annotation" *ngFor="let annotation of this.annotations"
    (click)="this.annotationClick(annotation)"
    [class.selected]="this.getSelectedAnnotation() === annotation">

    <mat-icon class="clickable" (click)="this.replayAnnotationRequest()">play_arrow</mat-icon>

    <div class="annotation-forms" id="{{annotation.id}}">
      <mat-form-field class="speaker">
        <input tabindex="-1" matInput (focus)="this.selectAnnotation(annotation)" (keyup)="this.updateAnnotation($event)" [(ngModel)]="annotation.speaker" placeholder="Speaker">
      </mat-form-field>

      <mat-form-field class="caption">
        <textarea matInput (focus)="this.selectAnnotation(annotation)" (keyup)="this.updateAnnotation($event)" [(ngModel)]="annotation.caption" placeholder="Caption"></textarea>
      </mat-form-field>

      <mat-icon class="clickable" (click)="this.deleteAnnotationRequest()">delete</mat-icon>
    </div>
  </div>
</div>
