mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  user-select: none;
}

mat-icon.clickable:hover {
  background: #EEEEEE;
  cursor: pointer;
}

#player-container {
  text-align: center;
  margin: auto;
}
#player-container.ready {
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  padding: 5px;
}

#waveform {
  position: relative;
}

#controls {
  display: flex;
  margin-top: 10px;
}

#duration {
  flex: 1 1 100%;
  font-size: 28px;
  font-weight: 550;
  line-height: 48px;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  vertical-align: middle;
  text-align: right;
}
