#search-field {
  max-width: 30em;
  width: 100%;
  padding-right: 3em;
  margin-left: auto;
}

#data-table {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: auto;
}

.clickable:hover {
  cursor: pointer;
  background: #ffda7c;
}
