#subheader {
  padding: 0 0 0.3em 0;
  font-size: 34px;
  text-align: center;
}

#divider {
  display: flex;
  max-width: 32em;
  margin: auto;
  min-width: 25em;
}

#left {
  flex: 1 1 18%;
  max-width: 14em;
}

#right {
  flex: 1 1 auto;
}

#floater {
  position: fixed;
}

#back-button {
  font-size: 1.25em;
  margin: 0.25em;
}
