:host {
  min-height: 1000px;
}

.extra-height {
  height: 800px;
}
.settings {
  display: flex;
}

.mat-checkbox {
  margin-left: auto;
}

.mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  user-select: none;
}

.mat-icon.clickable:hover {
  background: #EEEEEE;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  max-width: 70em;
}

.annotation-container {
  height: calc(100vh - 400px);
  overflow-y: scroll;
}

button {
  margin: 0.2em;
}

.top-halign {
  display: flex;
  padding-bottom: 0.6rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-align: center;
}

#header {
  flex: 1 1 100%;
  font-size: 24px;
  vertical-align: middle;
  padding: 0.5rem 1rem 0.5rem 1rem;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
