<div id="container">
  <div id="top-halign">
    <p id="header">Transcribing: {{ this.getAudioFileName() }}</p>
    <button mat-raised-button color="primary" (click)="this.actionBack()">Exit</button>
    <button mat-raised-button color="primary" (click)="this.actionSegment()">Autosegment</button>
    <button mat-raised-button color="primary" (click)="this.actionBack()">Export CSV</button>
    <button mat-raised-button color="primary" (click)="this.actionBack()">Export JSON</button>
  </div>

  <player [clip]="this.getAudioFile()" [annotations]="this.getAnnotations()"></player>

  <annotations [selectedAnnotation]="this.getSelectedAnnotation()"></annotations>
</div>
