#controller {
  height: 450px;
}

#controller-float {
  width: 80%;
  margin: auto;
}

#top-halign {
  display: flex;
  padding-bottom: 0.6rem;
}

#header {
  flex: 1 1 100%;
  font-size: 24px;
  vertical-align: middle;
  padding: 0.5rem 1rem 0.5rem 1rem;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#return-button {
  flex: 0 0 auto;
  font-size: 18px;
}
