<div id="container">
  <div id="top-halign">
    <p id="header">Transcribing: {{ this.getAudioFileName() }}</p>
    <button mat-raised-button color="primary" (click)="this.actionBack()">Exit</button>
    <button mat-raised-button color="primary" (click)="this.actionSegment()">Autosegment</button>
    <button mat-raised-button color="primary" (click)="this.exportCSV()">Export CSV</button>
    <button mat-raised-button color="primary" (click)="this.exportJSON()">Export JSON</button>
  </div>

  <player (playerEvent)="this.playEvent($event)" (annotationEvent)="this.annotationEvent($event)" [clip]="this.getAudioFile()" [annotations]="this.getAnnotations()"></player>

  <div *ngIf="this.getViewMode()!=='single'">
    <mat-icon class="clickable" (click)="this.setSingleView()">tab</mat-icon>
    <annotation-list (annotationUpdate)="this.annotationEvent($event)" [selectedAnnotation]="this.getSelectedAnnotation()" [annotations]="this.getAnnotations()"></annotation-list>
  </div>

  <div *ngIf="this.getViewMode()!=='list'">
    <annotations (playerControlEvent)="this.playerControlEvent($event)" (annotationUpdate)="this.annotationEvent($event)" [annotation]="this.getSelectedAnnotation()"></annotations>
  </div>
</div>
