#welcome-text {
    font-size: 36px;
    text-align: center;
    width: 75%;
    margin: 0.5em auto 0 auto;
}

.button {
  font-size: 36px;
  margin: 1.2em auto;
  padding: 0.5em 2.4em 0.5em 2.4em;
}
