<div id="selector">
  <p id="subheader">Please select a clip to transcribe.</p>
  <div class="clip" *ngFor="let clip of this.getClips()" (click)="onSelect(clip)">
    <div class="name" >{{clip.label}}</div>
    <div class="info">
      <div class="duration">{{clip.duration | duration}}</div>
      <div [ngPlural]="clip.segments.length" style="display:inline">
        <ng-template ngPluralCase="1">(1 segment)</ng-template>
        <ng-template ngPluralCase="other">({{clip.segments.length}} segments)</ng-template>
      </div>
    </div>
  </div>
</div>
