<div *ngIf="this.annotation === null">
  <div id="icons">
    <div id="controls">
      <mat-icon class="clickable" (click)="this.backAnnotationRequest()">skip_previous</mat-icon>
      <mat-icon class="clickable" (click)="this.nextAnnotationRequest()">skip_next</mat-icon>
    </div>
  </div>
</div>

<div *ngIf="this.annotation !== null">
  <div id="icons">
    <div id="controls">
      <mat-icon class="clickable" (click)="this.replayAnnotationRequest()">replay</mat-icon>
      <!-- Loop is bugged with WaveSurfer 2.0.3 -->
      <!-- <mat-icon class="clickable" (click)="this.loopSelectedRegion()" *ngIf="this.selectedRegion!=null">loop</mat-icon> -->
      <mat-icon class="clickable" (click)="this.backAnnotationRequest()">skip_previous</mat-icon>
      <mat-icon class="clickable" (click)="this.nextAnnotationRequest()">skip_next</mat-icon>
      <mat-icon class="clickable" (click)="this.deleteAnnotationRequest()">delete</mat-icon>
    </div>
  </div>

  <div class="annotation-container">
    <mat-icon>closed_caption</mat-icon>
    <mat-form-field id="caption-type">
      <mat-select (selectionChange)="this.updateAnnotation($event)" [(ngModel)]="this.annotation.cap_type" placeholder="Caption Type">
        <mat-option *ngFor="let option of this.annotation.cap_options" value="{{option}}">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="speaker">
      <input matInput (keyup)="this.updateAnnotation($event)" [(ngModel)]="this.annotation.speaker" placeholder="Speaker">
    </mat-form-field>

    <mat-form-field id="caption">
      <textarea matInput (keyup)="this.updateAnnotation($event)" [(ngModel)]="this.annotation.caption" placeholder="Caption"></textarea>
    </mat-form-field>
  </div>
</div>
