:host {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.annotation {
    padding: 0.3em;
}

.timestamp {
}

.highlight {
  background: yellow;
}

.fields {
    display: flex;
    flex-direction: row;
}

.fields .speaker {
    width: 20%;
    height: 2.5em;
}

.fields .data {
    flex: 1 1 auto;
    margin-left: 1.4em;
    height: 2.5em;
}

