<session></session>
<nav></nav>

<header><p>Alveo Transcription Tool</p></header>

<auth [hidden]="this.sessionService.isLoggedIn()"></auth>
<div *ngIf="this.sessionService.isLoggedIn()">
  <selector></selector>
</div>

<!--
<div ng-if="vm.loggedin">
  <sync data="vm.cache.clips"></sync>
  <selector ng-show="vm.cache.selecting" selecting="vm.cache.selecting" clip="vm.cache.clip" clips="vm.cache.clips"></selector>
  <annotator ng-show="!vm.cache.selecting" selecting="vm.cache.selecting" clip="vm.cache.clips[vm.cache.clip]"></annotator>
</div>
-->
<footer><p>Site &copy; YEAR COMPANY all rights reserved</p></footer>
