#data-information {
  display: flex;
  height: 80vh;
}

.dialogue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.info-text {
  padding-bottom: 1em;
  max-width: 35em;
}

#download-button {
  font-size: 1.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
