#data-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#data-container p {
  font-size: 22px;
  padding-bottom: 1em;
  max-width: 35em;
}

#download-button {
  font-size: 1.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
