<loading-spinner *ngIf="!this.isReady()">
  <p>Checking cache ...</p>
</loading-spinner>

<div id="item-display" *ngIf="this.getItemCount() > 0 && this.isReady()">
  <mat-form-field id="search-field">
    <input matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Search">
  </mat-form-field>

  <div *ngFor="let item of this.getItems()">
    <item *ngIf="this.isDataReady(item)"
      [item]="item"
      (transcribe)="onTranscribe($event, item)">
    </item>

    <item-loader *ngIf="!this.isDataReady(item)"
      (click)="this.onItemSelection(item)"
      [identifier]="item['id']"
      [state]="item['state']">
    </item-loader>
  </div>

  <mat-paginator
    (page)="this.paginatorEvent($event)"
    [length]="this.getListDisplaySize()"
    [pageSize]="this.pageSize"
    [pageIndex]="this.pageIndex"
    [pageSizeOptions]="[5, 15, 45, 100]">
  </mat-paginator>
</div>
