<div class="annotation-container">
  <mat-icon>closed_caption</mat-icon>
  <mat-form-field id="caption-type">
    <mat-select placeholder="Caption Type">
      <mat-option value="option">Not Implemented 1</mat-option>
      <mat-option value="option">Not Implemented 2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="speaker">
    <input matInput placeholder="Speaker">
  </mat-form-field>

  <mat-form-field id="caption">
    <textarea matInput placeholder="Caption"></textarea>
  </mat-form-field>
</div>
