.header {
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(230, 230, 230) solid;
}

.header p {
  flex: 1 1 100%;
  text-align: center;
  font-size: 22px;
}

.header mat-icon:hover{
  cursor: pointer;
}

mat-dialog-content {
  width: 35em;
}

mat-list-item-content {
  margin: 0;
  padding: 0;
}

.revision-container {
  padding: 10px;
  background:  lightgrey;
  width: 100%;
}

.revision-container:hover {
  background: lightblue;
  cursor: pointer;
}
