<div class="inner">
  <div mat-dialog-title class="header">
    <p>Revision Selector</p>
    <button
      id="revision-restore"
      mat-raised-button
      (click)="this.finalizeData()"
      [disabled]="this.selectedRevision==null"
      color="primary">
      Restore
    </button>
    <button mat-raised-button mat-dialog-close color="primary">Exit</button>
  </div>
  <mat-dialog-content>
    <p [hidden]="this.authService.isLoggedIn()">Not logged in, revisions unavailable</p>
    <p [hidden]="!this.tooManyVersions">Only the last 12 versions are displayed</p>
    <loading-spinner *ngIf="this.isLoading">
      <p>Downloading revision information...</p>
    </loading-spinner>
    <div *ngIf="!this.isLoading">
      <mat-list>
        <mat-list-item *ngFor="let revision of this.revisions">
          <div
            class="revision-container"
            [class.noSelect]="!revision.selectable"
            [class.selected]="this.selectedRevision == revision"
            (click)="this.selectRevision(revision)">
            <p matLine *ngIf="revision.type == 'local'">Local Revision
              <span *ngIf="revision.transcription.remoteVersion != null">
                (Matches remote revision {{revision.transcription.remoteVersion}})
              </span>
            </p>
            <p matLine *ngIf="revision.type == 'remote'">
              Revision
              <span *ngIf="revision.version != undefined">{{revision.version}}</span>
              <span *ngIf="revision.version == undefined">Latest ({{revision.type}})</span>
            </p>
            <p matLine>Annotations {{revision.totalAnnotations}}</p>
            <p>Committed {{revision.transcription.lastEdit | date:'mediumTime'}}</p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-dialog-content>
</div>
