<div *ngIf="this.errorRaised" class="page-mid">
  <p>An error has occurred.</p>
  <button mat-raised-button color="primary" (click)="this.exit()">Back</button>
</div>

<div *ngIf="!this.errorRaised">
  <div class="page-mid" *ngIf="!this.isReady()">
    <loading-spinner>
      <p>{{this.getLoadingText()}}</p>
      <button mat-raised-button color="primary" (click)="this.exit()">Back</button>
    </loading-spinner>
  </div>

  <div *ngIf="this.isReady()">
    <p id="header">Transcribing: {{ this.getIdentifier() }}</p>
    <h5 class="center">Channel: {{ this.doc_id }}</h5>
    <annotator
      [audioFile]="this.getAudioFile()"
      [audioFileName]="this.getIdentifier()"
      [annotations]="this.getAnnotations()"
      [selectedAnnotation]="this.getSelectedAnnotation()"
      [viewMode]="this.getViewMode()"

      [showSegmentorServiceButton]="true"
      [showCSVExportButton]="true"
      [showJSONExportButton]="true"
      [autoPlay]="true"

      [segmentorWorking]="this.isSegmenting" 

      (onExit)="this.exit()"
      (onAutosegment)="this.autoSegment($event)"
      (onSave)="this.saveAnnotations($event)">
    </annotator>
  </div>
</div>
