<div id="item-display" *ngIf="this.getItemCount() > 0">
  <mat-form-field id="search-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-expansion-panel *ngFor="let item of this.getItems()" (click)="onItemSelection(item)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{this.getItemName(item)}}
      </mat-panel-title>
      <mat-panel-description>
        {{this.getItemState(item)}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="this.isDataReady(item); else waitDownloadTemplate">
      <docs [docs]="this.getItemDocuments(item)"></docs>
    </div>
  </mat-expansion-panel>

  <mat-paginator (page)="this.paginatorEvent($event)" [length]="this.getListDisplaySize()" [pageSize]="this.pageSize" [pageIndex]="this.pageIndex" [pageSizeOptions]="[5, 15, 45, 100]">
  </mat-paginator>
</div>

<ng-template #waitDownloadTemplate>
  <p class="center">Downloading data</p>
</ng-template>
