<!DOCTYPE html >
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content="alveo, transcription">
    <meta name="description" content="Alveo Transcription Tool is an easy to use web tool to provide annotations for audio.">
    <meta name="author" content="David Irving">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alveo Transcription Tool</title>
    
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    
    <script src="/static/alveo.js"></script>
    <script src="/static/session.js"></script>
    <script src="/static/selector.js"></script>
    <script src="/static/annotator.js"></script>
    
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" href="/static/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
</head>

<body ng-app="Alveo" ng-controller="AlveoController as vm">
<noscript>
<p id="javascript-check">This resource requires JavaScript to be enabled. Please whitelist us if you wish to use the application.</p>
</noscript>
<nav>
    <session ng-if="vm.loggedin" template="logout" loggedin="vm.loggedin"></session>

    <a href="http://alveo.edu.au/" target="_blank">Alveo</a>
    <a href="#about">About</a>
</nav>
<header><p>Alveo Transcription Tool</p></header>
<session ng-if="!vm.loggedin" template="login" loggedin="vm.loggedin"></session>
<selector ng-if="vm.loggedin && vm.selecting" selecting="vm.selecting" clip="vm.clip" clips="vm.clips"></selector>
<annotator ng-if="!vm.selecting && vm.loggedin" selecting="vm.selecting" clip="vm.clip" clips="vm.clips"></annotator>
<footer><p>Site &copy; YEAR COMPANY all rights reserved</p></footer>
</body>
</html>
