<div id="clips">
    <p id="clips-info">Please select a clip to transcribe.</p>
    <div class="clip" ng-repeat="x in $ctrl.clips" ng-click="$ctrl.edit(x.id)">
        <div class="name" ng-bind="x.label"></div>
        <div class="info">
            <div class="duration" ng-bind="x.duration | durationFormat"></div>
            <ng-pluralize class="segments" count="x.segments.length"
                          when="{'1': '(1 segment)',
                          'other': '({} segments)'}">
            </ng-pluralize>
        </div>
    </div>
</div>
