mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.annotation-container {
  display: flex;
  overflow-y: scroll;
  flex-display: column;

  flex-wrap: wrap;
}

.annotation {
  display: flex;
  flex: 1 1 100%;
  padding-top: 0.6em;
}

.speaker {
  align-self: flex-end;
  margin-left: 1em;
  margin-right: 1em;
}

.caption {
  flex: 1 1 100%;
  margin-right: 1em;
}

.selected {
  background: lightblue;
}

.caption textarea {
  height: 20px;
}
