<ng-template #documentReadyTemplate [ngIf]="!this.isLoading()">

  <ng-template #emptyListCheckTemplate [ngIf]="this.listSize() == 0" [ngIfElse]="populatedListTemplate">
    <ng-template #notLoggedInTemplate [ngIf]="!this.isLoggedIn()">
      <auth></auth>
    </ng-template>
    <ng-template #loggedInTemplate [ngIf]="this.isLoggedIn()">
      <div *ngIf="this.isLoggedIn()" class="center">
        <p class="info-text bottom-spacer">Great! You're all logged in. Now you need to choose a source of data to load. Right now, there is only the Alveo provider. Click it to begin.</p>
        <p class="button" (click)="this.getData()">Download Alveo Data</p>
      </div>
    </ng-template>
  </ng-template>

  <ng-template #populatedListTemplate>
    <div class="center">
      <ng-template #devconsoleTemplate [ngIf]="this.isDevMode()">
        <devconsole></devconsole>
      </ng-template>

      <h2>Your item lists</h2>
      <md-list>
        <h3 mdSubheader>Your Lists</h3>
        <md-list-item *ngFor="let list of this.getLists()" (click)="onSelect(list)">
          <h4 mdLine>{{list.name}}</h4>
          <p mdLine>Items ({{list.num_items}})</p>
        </md-list-item>
        <h3 mdSubheader>Shared Lists</h3>
      </md-list>
    </div>
  </ng-template>
</ng-template>
