<div class="center">
  <button mat-raised-button id="back-button" color="primary" (click)="this.actionBack()">Back to Item Lists</button>
</div>

<div *ngIf="this.isReady()">
  <div id="subheader"
       *ngIf="this.getListName() !== ''">
    {{this.getListName()}}
  </div>

  <div id="item-display">
    <ng-template #listEmptyCheckTemplate [ngIf]="this.getListSize() === 0" [ngIfElse]="listLoadingTemplate">
      <p class="center">This item list is empty.</p>
    </ng-template>

    <ng-template #listLoadingTemplate>
      <items [itemUrls]="this.getListItems()" (onSelect)="this.transcribe($event)"></items>
    </ng-template>
  </div>
</div>

<loading-spinner *ngIf="!this.isReady()">
  <p>Loading list ...</p>
</loading-spinner>
