<div class="center">
<button mat-raised-button id="back-button" color="primary" (click)="this.actionBack()">Back to Item Lists</button>
</div>

<div id="subheader">Viewing "{{this.getListName()}}" item list</div>

<div id="item-display">
  <ng-template #listEmptyCheckTemplate [ngIf]="this.getListSize() === 0" [ngIfElse]="listLoadingTemplate">
    <p class="center">This item list is empty.</p>
  </ng-template>

  <ng-template #listLoadingTemplate>
    <items [itemUrls]="this.getListItems()"></items>
  </ng-template>
</div>
