@import url(https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic|Oswald:700);

*, *:before, *:after { 
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-weight: lighter;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*justify-content: center;*/
}

#javascript-check {
    font-weight: bold;
    width: 100%;
    text-align: center;
    background: red;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0.2em 0 0.2em 0;
}
