@import url(https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic|Oswald:700);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*, *:before, *:after { 
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#javascript-check {
  font-weight: bold;
  width: 100%;
  text-align: center;
  background: red;
  color: #FFFFFF;
  font-size: 16px;
  padding: 0.2em 0 0.2em 0;
}

.small {
  font-size: 16px;
  padding: 0.4em;
  margin: 0.15em;
}

.medium {
  font-size: 24px;
  padding: 0.5em 2.4em 0.5em 2.4em;
}

.center {
  text-align: center;
  display: block;
}

.inline-splitter {
  display: block;
  margin-top: 0.5em;
}

h1 {
  margin: 0.6em 0 0.6em 0;
  font-size: 60px;
}

h2 {
  padding: 0 0 0.3em 0;
  font-size: 34px;
}

.info-text {
  font-size: 24px;
  width: 75%;
  margin: 0.5em auto 0 auto;
}

.bottom-spacer {
  margin-bottom: 1em;
}
