<div class="control-panel">
  <p>Debug Controls</p>
  <div id="controls">
    <button mat-raised-button color="primary" (click)="this.refreshData()">Refresh item lists (via API)</button>
    <button mat-raised-button color="primary" class="btn-large" (click)="this.resetSession()">Reset session</button>
    <button mat-raised-button color="primary" class="btn-large" (click)="this.deleteCache()">Clear Alveo cache</button>
    <button mat-raised-button color="primary" class="btn-large" (click)="this.deleteTranscriptions()">Delete Transcriptions</button>
  </div>
</div>
