<div id="control-panel">
  <button mat-raised-button
    color="primary"
    (click)="this.updateItemListIndex()">
    Update item lists via API
  </button>
  <button mat-raised-button
    color="primary"
    (click)="this.resetSession()">
    Reset session
  </button>
  <button mat-raised-button
    color="primary" 
    (click)="this.deleteCache()">
    Clear Alveo cache
  </button>
  <button mat-raised-button
    color="primary" 
    (click)="this.deleteTranscriptions()">
    Delete Transcriptions
  </button>
</div>
