<div class="control-panel">
  <h3>- Debugging Console -</h3><br>
  <p>Data Controls</p>

  <button mat-raised-button color="primary" (click)="this.getData()">Refresh data via Alveo</button>
  <span class="inline-splitter"></span>
  <button mat-raised-button color="primary" (click)="this.storeData()">Store Data</button>
  <button mat-raised-button color="primary" (click)="this.reset()">Purge Loaded Data</button>
  <button mat-raised-button color="primary" class="btn-large" (click)="this.resetStore()">Purge All Data</button>
</div>
